<div class="count">
  <div class="one">
    <h1>Happy Clients</h1>
  </div>
  <div class="statistics-section">
    <div class="stat-item">
      <i class="fa fa-users"></i>
      <!-- Display actual astrologer count -->
      <h2>{{ stats.totalAstrologers }}+</h2>
      <p>Total Astrologers</p>
    </div>
    <div class="stat-item">
      <i class="fa fa-clock"></i>
      <h2>{{ stats.totalMinutes }}+</h2>
      <p>Minutes Consulted</p>
    </div>
    <div class="stat-item">
      <i class="fa fa-smile"></i>
      <h2>{{ stats.happyCustomers }}+</h2> 
      <p>Happy Customers</p>
    </div>
     <div class="stat-item">
      <i class="fa fa-newspaper"></i> 
      <h2>{{ stats.Blogs }}+</h2>
      <p>Astrologer Blogs</p>
    </div>
  </div>
</div>