<!-- hs footer wrapper Start -->
<div class="hs_footer_main_wrapper v-2_footer">
    <!-- hs footer top wrapper Start -->
    <div class="hs_footer_top_wrapper">
        <div class="container">
            <div class="row">
                <!-- Quick Links Column -->
                <nav class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                    <div class="hs_footer_list_wrapper">
                        <h2>Quick <span>Links</span></h2>
                        <ul class="hs_footer_list">
                            <li><a routerLink="/Home"><i class="fa fa-caret-right" aria-hidden="true"></i> Home</a></li>
                            <li><a routerLink="/login"><i class="fa fa-caret-right" aria-hidden="true"></i> Find Astrologers</a></li>
                            <li><a routerLink="/about-us"><i class="fa fa-caret-right" aria-hidden="true"></i> About Us</a></li>
                            <li><a routerLink="/blogs/:id"><i class="fa fa-caret-right" aria-hidden="true"></i> Blogs</a></li>
                        </ul>
                    </div>
                </nav>
                      <!-- Contact Us Column -->
                <nav class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                    <div class="hs_footer_list_wrapper">
                        <h2>Contact <span>Us</span></h2>
                        <ul class="hs_footer_list">
                            <li><i class="fa fa-map-marker"></i> India</li>
                            <li><i class="fa fa-phone"></i> +1800-123-123</li>
                            <li><i class="fa fa-envelope"></i> support&#64;adishakti.com</li>
                            <li><i class="fa fa-clock"></i> Mon-Fri 9:00 AM - 6:00 PM</li>
                        </ul>
                    </div>
                </nav>
            </div>
        </div>
    </div>
</div>

<div class="hs_bottom_footer_main_wrapper">
    <a href="javascript:" id="return-to-top"></a>
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="footer_bottom_cont_wrapper text-center">
                    <p>All right Reserved - Developed & Maintained By <a style="text-decoration: none;color: white;" href="https://settribe.com/">SETTribe LLP</a></p>
                </div>
            </div>
        </div>
    </div>
</div>

