<div>
  <!-- Topbar -->
  <header>
    <h1>Blogs</h1>
  </header>

  <!-- Sidebar -->
  <nav class="w3-sidebar w3-collapse w3-white w3-animate-left" id="mySidebar">
    <div class="w3-bar-block">
      <a href="#" class="w3-bar-item w3-button w3-padding" (click)="gerData()">
        <img src="/images/icons/all_blogs.png" width="30px"> All Blogs
      </a>
      <a href="#" class="w3-bar-item w3-button w3-padding" (click)="getTec()">
        <img src="/images/icons/tecnology.png" width="30px"> Technology
      </a>
      <a href="#" class="w3-bar-item w3-button w3-padding" (click)="getHelth()">
        <img src="/images/icons/helth.png" width="30px"> Health
      </a>
      <a href="#" class="w3-bar-item w3-button w3-padding" (click)="getLifeStyle()">
        <img src="/images/icons/lifestyle.png" width="30px"> Lifestyle
      </a>
      <a href="#" class="w3-bar-item w3-button w3-padding" (click)="getEducation()">
        <img src="/images/icons/education.png" width="30px"> Education
      </a>
    </div>
  </nav>

  <!-- Blog Content -->
  <div class="w3-row-padding" style="margin-left:250px;">
    <!-- Blog Cards -->
    <div class="w3-third w3-container w3-margin-bottom" *ngFor="let i of data">
      <img [src]="'data:image/png;base64,' + i.featuredImage" alt="Blog Image" width="100%" height="200px">
      <div class="w3-container">
        <p><b>{{ i.title }}</b></p>
        <p>{{ i.content | slice: 0:100 }}...</p>
        <div class="view-more">
          <button (click)="viewMore(i)">View More</button>
        </div>
      </div>
    </div>
  </div>

  <!-- Individual Blog View -->
  <div class="pkk" *ngIf="displayBlock">
    <span (click)="closs()">&#10006;</span>
    <img [src]="'data:image/png;base64,' + individualData.featuredImage" alt="Blog Image" height="200px">
    <p><b>{{ individualData.title }}</b></p>
    <p>{{ individualData.content }}</p>
    <p>Written By: {{ individualData.author }}</p>
  </div>
</div>
