/* manage blog component. css */
/* Global Styles */
body, html {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

.dashboard-container {
  display: flex;
  height: 100vh;
  position: fixed !important;
  width: 100%;
}
.logo {
  display: flex;
  align-items: center;
  margin-right: 20px;
}

.logo img {
  height: 80px; /* Reduced size */
  width: 80px; /* Reduced size */
  margin-right: 10px;
}

.logo-text {
  font-size: 1.5rem; /* Reduced font size */
  font-weight: bold;
  color: #F9DA82; /* Light Yellow */
  animation: glow 1.5s ease-in-out infinite; /* Apply glow animation */
}

.sidebar {
  background-color: #4c70ba;
  color: #fff;
  display: flex;
  flex-direction: column;
}

.sidebar-header {
  padding: 20px;
  text-align: center;
  background-color: #4c70ba;
}

.sidebar-menu {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.sidebar-menu li {
  width: 100%;
}

.sidebar-menu li a {
  display: block;
  padding: 15px 20px;
  color: #fff;
  text-decoration: none;
}

.sidebar-menu li a:hover {
  background-color: #fff;
  color:black !important;
}
.sidebar-menu li a.active {
 color:#F9DA82 ;
}


.main-content {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  background-color: #f2edf3;
}

h2 {
  font-size: 30px;
  color: #0F0F8F;
  text-align: center; /* Center the text */
}

/* Decorative elements for the heading */
.one h2 {
  text-transform: uppercase;
  padding-bottom: 5px;
  margin-bottom: 5%; /* Adjust the bottom margin */
  position: relative;
}

.one h2:before,
.one h2:after {
  content: "";
  position: absolute;
  background-color: #b80000;
  left: 50%; /* Center the pseudo-elements */
  transform: translateX(-50%);
}

.one h2:before {
  width: 28px;
  height: 5px;
  bottom: -10px; /* Adjust the distance from the heading */
}

.one h2:after {
  width: 100px;
  height: 1px;
  top: 100%; /* Place below the heading */
  margin-top: 7px;
}

.table-responsive{
  width: 1250px;
}

 th{
  background-color: #4c70ba;
  color: white;
}
/* Animations */
@keyframes glow {
  0% {
    text-shadow: 0 0 10px rgba(249, 218, 130, 0.5);
  }
  50% {
    text-shadow: 0 0 20px rgba(249, 218, 130, 1);
  }
  100% {
    text-shadow: 0 0 10px rgba(249, 218, 130, 0.5);
  }
}