<div class="dashboard-container">
  <nav class="sidebar">
    <div class="sidebar-header d-flex justify-content-between align-items-center">
      <h2 class="logo-text">Adishkati</h2>
      <!-- Toggle button for mobile to close the sidebar -->
      
    </div>
    <ul class="sidebar-menu list-unstyled">
      <li><a routerLink="/astrodash" routerLinkActive="active"><i class="bi bi-house-door-fill"></i> Dashboard</a></li>
      <li><a routerLink="/astroclient" routerLinkActive="active"><i class="fa-solid fa-pen-to-square"></i> Clients Report</a></li>
      <li><a routerLink="/insert-blog" routerLinkActive="active"><i class="fa-solid fa-blog"></i> Create Blogs</a></li>
      <li><a routerLink="/consultation-price" routerLinkActive="active"><i class="fa-solid fa-money-check-dollar"></i> Consultation Price</a></li>
      <li><a routerLink="/booking" routerLinkActive="active"><i class="bi bi-calendar-fill"></i> Booking </a></li>
      <li><a href="#" (click)="logout($event)"><i class="bi bi-power"></i> Logout</a></li>
    </ul>
  </nav>
  
  <div class="main-content">
    <div class="row">
      <div class="col-md-12 one">
        <h2 class="text-center mt-4">Dashboard</h2>
      </div>
    </div>

    <!-- Dashboard Section -->
    <section class="dashboard-section mt-0 pt-0">
      <div class="stat">
        <h3>Total Clients</h3>
        <p>{{ totalClients }}</p>
      </div>
      <div class="stat">
        <h3>Reviews Received</h3>
        <p>{{ reviewsCount }}</p>
      </div>
      <div class="stat">
        <h3>Total Revenue</h3>
        <p>{{ totalRevenue | currency }}</p>
      </div>
      <div class="stat">
        <h3>Ratings Received</h3>
        <p>{{ ratingsCount }}</p>
      </div>
    </section>

    <!-- Manage Availability Section -->
    <section class="availability-section">
      <h3>Current Status</h3>
      <div class="checkbox-wrapper-35">
        <input value="private" name="switch" id="switch" type="checkbox" class="switch" (change)="toggleOnlineStatus()"
          [checked]="isOnline">
        <label for="switch">
          <span class="switch-x-text">You are</span>
          <span class="switch-x-toggletext">
            <span class="switch-x-unchecked"><span class="switch-x-hiddenlabel">Offline </span>Offline</span>
            <span class="switch-x-checked"><span class="switch-x-hiddenlabel">Online </span>Online</span>
          </span>
        </label>
      </div>
    </section>
  </div>
</div>