<div class="about">
  <!-- hs about us wrapper Start -->
  <div class="hs_about_us_main_wrapper">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
          <div class="hs_about_img_main_wrapper">
            <img src="aboutimage4.jpg" alt="about_img" class="shadowed-img" />
          </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
          <div class="hs_about_us_cont_main_wrapper text-center">
            <div class="one">
              <h2>About <span>Adishakti</span></h2>
              <!-- <h4><span>&nbsp;</span></h4> -->
            </div>
            <p>
              <b id="big">A</b>t Adishakti, we believe in the profound wisdom of the stars and
              the ancient art of astrology. Founded by a team of passionate
              astrologers and enthusiasts, our mission is to offer you
              insightful and personalized astrological guidance that empowers
              and enlightens. With decades of combined experience, our experts
              provide accurate horoscopes, detailed birth charts, and
              astrological predictions tailored to your unique journey. We are
              dedicated to helping you navigate life's challenges and
              opportunities by unlocking the celestial messages that shape your
              destiny. Explore our services to discover how the cosmic forces
              can illuminate your path and guide you toward a more fulfilling
              life.
            </p>
            <!-- <a href="about-us" class="btn btn-primary">
              Read More <i class="fa fa-long-arrow-right"></i>
            </a> -->
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- hs about us wrapper End -->
</div>