/* Navbar styles */
.navbar {
  width: 100%;
  background-color: #420E57; /* Dark Purple */
  font-family: 'Poppins', sans-serif;
  color: #ffffff;
  display: flex;
  align-items: center;
  padding: 0px 20px; /* Reduced height */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  height: 95px;
}

.collapse{
  margin-right: 50px;
  
}

.logo {
  display: flex;
  align-items: center;
  margin-right: 20px;
}

.logo img {
  height: 120px; /* Reduced size */
  width: 120px; /* Reduced size */
  margin-left: 20px;
}

.logo-text {
  font-size: 1.8rem;
  font-weight: bold;
  color: #F9DA82;
  animation: glow 1.8s ease-in-out infinite;
  font-family: 'Poppins', sans-serif;
}

/* Navigation links styling */
.navbar-nav {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
  flex-grow: 1; /* Allow links to take up remaining space */
  justify-content: flex-end; /* Right align items */
}

.navbar-nav li {
  margin-left: 20px; /* Space between links */
  position: relative;
}

.nav-link {
  color: #ffffff;
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  display: inline-block;
  padding: 8px 15px;
  transition: color 0.3s ease, background-color 0.3s ease;
  border-radius: 5px;
}

.nav-link:hover {
  color: #F9DA82 !important;
  animation: glow 1.5s ease-in-out infinite;
}

/* Dropdown styles */
.dropdown-menu {
  background-color: #420E57;
  border-radius: 30%;
}

.nav-item .dropdown {
  position: relative;
}
.dropdown:hover .dropdown-menu {
  display: block; /* Show the dropdown on hover */
  opacity: 1; /* Make the dropdown visible */
  transform: translateY(0); /* Slide the dropdown down */
}

.dropdown .nav-link {
  color: #ffffff;
  padding: 8px 15px;
  cursor: pointer;
}

.dropdown-menu {
  background-color: #420E57;
  width: 30px;
  border-radius: 10px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  display: none; /* Initially hidden */
  position: absolute;
  top: 100%; /* Position it below the parent */
  left: 0;
  opacity: 0; /* Start with the dropdown hidden */
  transform: translateY(-10px); /* Slide it up */
  transition: opacity 0.3s ease, transform 0.3s ease; /* Smooth transition */
}

.dropdown-item {
  color: #420E57; /* Dark Purple */
  font-size: 14px;
  padding: 10px;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.dropdown-item:hover {
  background-color: #F9DA82;
  color: #420E57;
}

/* Active link styling */
.nav-link.active {
  font-weight: bold;
  color: #F9DA82 !important;
}

/* Animations */
@keyframes glow {
  0% {
    text-shadow: 0 0 10px rgba(249, 218, 130, 0.5);
  }
  50% {
    text-shadow: 0 0 20px rgba(249, 218, 130, 1);
  }
  100% {
    text-shadow: 0 0 10px rgba(249, 218, 130, 0.5);
  }
}
