
/* Navbar styles */
.navbar {
  width: 100%;
  background-color: #420E57; /* Dark Purple */
  font-family: 'Poppins', sans-serif;
  color: #ffffff;
  display: flex;
  align-items: center;
  padding: 10px 20px; /* Reduced height */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}


.logo {
  display: flex;
  align-items: center;
  margin-right: 20px;
}

.logo img {
  height: 80px; /* Reduced size */
  width: 80px; /* Reduced size */
  margin-right: 10px;
}

.logo-text {
  font-size: 1.6rem; 
  font-weight: bold;
  color: #F9DA82; 
  animation: glow 1.5s ease-in-out infinite; 
}

/* Navigation links styling */
.nav-links {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
  flex-grow: 1; /* Allow links to take up remaining space */
  justify-content: center; /* Center align items */
}

.nav-links li {
  margin-left: 15px; /* Space between links */
  position: relative;
}

.nav-link:hover{
  color: #F9DA82 !important;
    animation: glow 1.5s ease-in-out infinite; /* Apply glow animation */


}
.col a{
  color: #f4f4f4;
}
.dropdown-menu{
  background-color: #420E57;
}
.nav-links a {
  color: #ffffff;
  text-decoration: none;
  font-weight: 500; /* Medium weight for readability */
  font-size: 14px; /* Reduced font size */
  display: inline-block;
  padding: 8px 15px; /* Reduced padding for smaller height */
  transition: color 0.3s ease, background-color 0.3s ease;
  border-radius: 5px; /* Rounded corners for modern look */
}


/* Dropdown container */
.nav-item .dropdown {
  position: relative;
}

/* Trigger button styling */
.dropdown .dropbtn {
  background: none;
  border: none;
  color: #ffffff;
  font-size: 20px; /* Adjusted font size */
  cursor: pointer;
  padding: 8px 15px; /* Adjusted padding */
  transition: color 0.3s ease;
}

/* Basic dropdown styling */
.dropdown .nav-link {
  color: #ffffff;
  padding: 8px 15px;
  cursor: pointer;
}

.dropdown-menu {
  background-color: #420E57;
  min-width: 200px;
  border-radius: 5px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.dropdown-item {
  color: #420E57; /* Dark Purple */
  font-size: 14px;
  padding: 10px;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.dropdown-item:hover {
  background-color: #F9DA82; /* Light Yellow */
  color: #420E57; /* Dark Purple */
}
.nav-link.active {

  font-weight: bold; /* or any style you want to apply */
  color: #F9DA82 !important; /* Bootstrap primary color or any color */
}



/* Animations */
@keyframes glow {
  0% {
    text-shadow: 0 0 10px rgba(249, 218, 130, 0.5);
  }
  50% {
    text-shadow: 0 0 20px rgba(249, 218, 130, 1);
  }
  100% {
    text-shadow: 0 0 10px rgba(249, 218, 130, 0.5);
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
