<div class="latestblog">
  <div class="one">
    <h1>Latest Blogs</h1>
  </div>
  
  <div class="latest-blogs">
    <div class="blog" *ngFor="let blog of blogs">
      <div class="blog-image-container">
        <!-- Dynamically fetch and display the image -->
        <img [src]="blog.imageUrl" alt="{{blog.title}}" class="blog-image" *ngIf="blog.imageUrl">
      </div>
      <div class="blog-content">
        <h3>{{blog.title}}</h3>
        <p>{{blog.content}}</p>
        <button (click)="readMore(blog.id)">View more</button>
      </div>
    </div>
  </div>
</div>
