<div class="dashboard-container">
  <nav class="sidebar">
    <div class="sidebar-header d-flex justify-content-between align-items-center">
      <h2 class="logo-text">Adishkati</h2>
      <!-- Toggle button for mobile to close the sidebar -->
      
    </div>
    <ul class="sidebar-menu list-unstyled">
      <li><a routerLink="/astrodash" routerLinkActive="active"><i class="bi bi-house-door-fill"></i> Dashboard</a></li>
      <li><a routerLink="/astroclient" routerLinkActive="active"><i class="fa-solid fa-pen-to-square"></i> Clients Report</a></li>
      <li><a routerLink="/insert-blog" routerLinkActive="active"><i class="fa-solid fa-blog"></i> Create Blogs</a></li>
      <li><a routerLink="/consultation-price" routerLinkActive="active"><i class="fa-solid fa-money-check-dollar"></i> Consultation Price</a></li>
      <li><a href="#" (click)="logout($event)"><i class="bi bi-power"></i> Logout</a></li>
    </ul>
  </nav>
  

  <!-- Main Content -->
  <div class="main-content">
    <div class="row">
      <div class="col-md-12 one">
        <h2 class="text-center mt-4">Clients Report</h2>
      </div>
    </div>
<!-- 
    <div class="one">
      <h1>Why <span>Adishakti</span></h1>
      <h4><span>&nbsp;</span></h4>
    </div> -->

    <!-- Client List Section -->
    <section class="client-list-section mt-0 pt-0">

      <!-- <--<h2>Client List</h2> --> 

      <table datatable [dtOptions]="dtOptions" class="client-list-table" class="table-hover table-striped">
        <thead>
          <tr>
            <th>#</th>
            <th>Name</th>
            <th>Date of Birth</th>
            <th>Email</th>
            <th>Bith Time</th>
            <th>Bith Place</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let user of users">
            <td>{{ user.firstName }} {{ user.lastName }}</td>
            <td>{{ user.dob }}</td>
            <td>{{ user.email }}</td>
            <td>{{ user.mobileNumber }}</td>
          </tr>
        </tbody>
      </table>
    </section>
  </div>
</div>