<!-- Manage user component.html -->
<div class="dashboard-container">

  <nav class="sidebar">
    <div class="sidebar-header">
      <h2 class="logo-text">Adishkati</h2>
    </div>
    <ul class="sidebar-menu">
      <li><a routerLink="/admin" routerLinkActive="active"><i class="bi bi-house-door-fill"></i> Dashboard</a></li>
      <li><a routerLink="/manageusers" routerLinkActive="active"><i class="bi bi-people-fill"></i> Manage Users</a></li>
      <li><a routerLink="/manageastrologer" routerLinkActive="active"><i class="bi bi-person-check-fill"></i> Manage Astrologers</a></li>
      <li><a routerLink="/manageblog" routerLinkActive="active"><i class="bi bi-vector-pen"></i> Manage Blog</a></li>
      <li><a routerLink="/manageskills" routerLinkActive="active"><i class="bi bi-award-fill"></i> Manage Skills</a></li>
      <li><a routerLink="/manage-payment" routerLinkActive="active"><i class="bi bi-credit-card-fill"></i> Manage Payment</a></li>
      <li><a href="#" (click)="logout($event)"><i class="bi bi-power"></i> Logout</a></li>
    </ul>
  </nav>

  <div class="main-content">
    <div class="row mt-4 pt-0">
      <div class="col-md-12 one">
        <h2 class="text-center mt-4">Manage User</h2>
      </div>
    </div>

    <section class="user-management mt-0 pt-0">
      <!-- Search Field -->

      <table datatable [dtOptions]="dtOptions" class="table-hover table-striped">
        <thead style="background:#4c70ba;color:white;" >
          <tr >
            <th>#</th> <!-- Add this for serial number -->
            <th>First Name</th>
            <th>Last Name</th>
            <th>Email</th>
            <th>Mobile Number</th>
            <th>Date Of Birth</th>
            <th>Status</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let user of filteredUsers;">
            <td> {{ user.regId }} </td>
            <td> {{ user.firstName }} + {{ user.lastName }} </td>
            <td> {{ user.email }} </td>
            <td>
              <button class="edit-btn" (click)="deactivateUser(user.regId)">
                <fa-icon [icon]="faEdit"></fa-icon> Deactivate
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </section>
  </div>
</div>