<div class="toprated">
  <div class="one">
    <h1>Top Rated Astrologer</h1>
  </div>
  
  <div class="outside">
    <div class="find-astrologers">
      <!-- <button class="nav-button" (click)="prevSlide()">&#10094;</button> -->
      <div class="astrologer-list" [style.transform]="'translateX(' + (-currentIndex * cardWidth) + 'px)'">
        <div class="astrologer" *ngFor="let astrologer of filteredAstrologers">
          <img
            [src]="'data:image/png;base64,' + astrologer.astrologerImages.imageData"
            alt="Astrologer Image"
            class="astrologer-image"
          />
          <div class="astrologer-details">
            <h3>{{ astrologer.firstName | uppercase }} {{ astrologer.lastName | uppercase }}</h3>
            <p>Skills: {{ astrologer.skills }}</p>
            <p>Rate Per Minute: {{ astrologer.ratePerMinute }}</p>
            <p>Languages Known: <span *ngFor="let language of astrologer.languagesKnown">{{ language }}, </span></p>
            <p>
              Rating:
              <span class="star-rating">
                <span
                  *ngFor="let star of [1, 2, 3, 4, 5]; let i = index"
                  (mouseover)="hoverRating = i + 1"
                  (mouseleave)="hoverRating = null"
                  [class.filled]="astrologer.rating >= i + 1 || (hoverRating && hoverRating >= i + 1)"
                >
                  &#9733;
                </span>
              </span>
              ({{ astrologer.rating }})
            </p>
          </div>
          <!-- <div class="astrologer-actions">
            <button class="btn-chat" (click)="navigateToCall(astrologer)">Call</button>
            <button class="btn-call" (click)="navigateToChat(astrologer)">Chat</button>
          </div> -->
        </div>
      </div>
      <!-- <button class="nav-button" (click)="nextSlide()">&#10095;</button> -->
    </div>
  </div>
</div>