<div class="toprated">
  <div class="one">
    <h1>Top Rated Astrologers</h1>
  </div>

  <div class="astrologers-container">
    <div
      *ngFor="let astrologer of filteredAstrologers; let i = index"
      class="astrologer-card"
      [style.width.px]="cardWidth"
      [style.marginRight.px]="i < filteredAstrologers.length - 1 ? 10 : 0"
    >
      <div class="astrologer-image-wrapper">
        <img
          *ngIf="astrologer.regId"
          [src]="fetchAstrologerImage(astrologer.regId)"
          (error)="onImageError(astrologer)"
          alt="Astrologer Image"
          class="astrologer-image"
        />
        <ng-container *ngIf="!astrologer.regId">
          <p>Image not available for {{ astrologer.firstName }}</p>
        </ng-container>
      </div>

      <div class="astrologer-info">
        <h3>{{ astrologer.firstName }} {{ astrologer.lastName }}</h3>
        <p class="skills">Skills: {{ astrologer.skills }}</p>
        <p class="languages">Languages: {{ astrologer.languagesKnown.join(', ') }}</p>
        <p><strong>Rating:</strong>
          <ng-container *ngIf="astrologer.rating !== undefined && astrologer.rating > 0">
            <span *ngFor="let star of generateStars(astrologer.rating); let i = index">
              ⭐
            </span>
          </ng-container>
          <span *ngIf="astrologer.rating === undefined || astrologer.rating <= 0">No rating available</span>
        </p>
      </div>
    </div>
  </div>
</div>