  <div class="hs_bottom_footer_main_wrapper">
        <a href="javascript:" id="return-to-top"></a>
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="footer_bottom_cont_wrapper text-center">
                        <p>All right Reserved - Developed & Maintained By <a style="text-decoration: none;color: white;" href="https://settribe.com/">SETTribe</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
  