/* Styling for background image */
.background-image {
  position: fixed; /* Makes the background image fixed and fills the viewport */
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: -1;
  object-fit: cover;
  opacity: 0.8; /* Adjust transparency for better readability */
}

/* Overall body style */
body {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  color: #000; /* Black text color */
  overflow: hidden; /* Prevent scrolling */
}

/* Main signup container */
.signup-container {
  display: flex;
  justify-content: center; /* Center align */
  align-items: center; /* Center vertically */
  width: 100%; /* Full width */
  padding: 50px; /* Reduced padding */
}

/* Sign Up Form Container */
.signup-form-container {
  width: 800px; /* Set a fixed width for the form */
}

/* Sign Up Form */
.signup-form {
  background-color: rgba(234, 228, 221, 0.9); /* Make form background semi-transparent */
  border-radius: 20px;
  padding: 20px; /* Reduced padding */
  box-shadow: 0 20px 40px rgba(134, 70, 156, 0.4);
}

/* Sign Up Form Heading */
.signup-form h2 {
  font-size: 24px; /* Adjusted font size */
  font-weight: bold;
  margin-bottom: 20px;
  text-align: center;
  color: #000;
}

/* Form content */
.form-content {
  display: flex;
  justify-content: space-between;
}

/* Form columns */
.form-column {
  width: 48%; /* Adjusted to keep two columns */
}

/* Form fields */
.signup-form input, .signup-form select {
  padding: 10px; /* Adjusted padding */
  border: 1px solid #ddd;
  border-radius: 5px; /* Slightly smaller border radius */
  font-size: 14px; /* Adjusted font size */
  margin-bottom: 10px; /* Adjusted margin */
  width: 100%;
}

/* Submit button */
.signup-button {
  padding: 10px; /* Smaller button */
  background-color: #6a1b9a;
  border: none;
  border-radius: 5px;
  color: #fff;
  font-size: 14px; /* Smaller font size */
  font-weight: bold;
  cursor: pointer;
  width: 100%; /* Full width */
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.signup-button:hover {
  background-color: #4a148c;
  transform: translateY(-2px);
}

button[type="submit"] {
  background-color: #3b5998;
  color: #ffffff;
  padding: 10px 10px; /* Reduced padding for a smaller button */
  border: none;
  border-radius: 3px;
  font-size: 0.9em; /* Slightly smaller font size */
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-top: 15px; /* Reduced margin above the button */
  width: 100px; /* Fixed width for the button */
  display: block; /* Make the button a block element */
  /* margin-left: auto; /* Center the button horizontally 
  margin-right: auto; Center the button horizontally */
}