<div class="dashboard-container">
  <nav class="sidebar">
    <div class="sidebar-header d-flex justify-content-between align-items-center">
      <h2 class="logo-text">Adishkati</h2>
      <!-- Toggle button for mobile to close the sidebar -->
      
    </div>
    <ul class="sidebar-menu list-unstyled">
      <li><a routerLink="/astrodash" routerLinkActive="active"><i class="bi bi-house-door-fill"></i> Dashboard</a></li>
      <li><a routerLink="/astroclient" routerLinkActive="active"><i class="fa-solid fa-pen-to-square"></i> Clients Report</a></li>
      <li><a routerLink="/insert-blog" routerLinkActive="active"><i class="fa-solid fa-blog"></i> Create Blogs</a></li>
      <li><a routerLink="/consultation-price" routerLinkActive="active"><i class="fa-solid fa-money-check-dollar"></i> Consultation Price</a></li>
      <li><a href="#" (click)="logout($event)"><i class="bi bi-power"></i> Logout</a></li>
    </ul>
  </nav>

  <div class="main-content">
    <div class="row">
      <div class="col-md-12 one">
        <h2 class="text-center mt-4">Clients Report</h2>
      </div>
    </div>

  
    <div class="form-container" *ngIf="consultationPrices.length === 0">
      <h2 *ngIf="currentEditId; else createPriceTemplate">Update Consultation Price</h2>
      <ng-template #createPriceTemplate>
        <h2>Set Consultation Price</h2>
      </ng-template>
      <form [formGroup]="consultationForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
          <label for="ratePerMinute">Rate per Minute (in currency):</label>
          <input
            type="number"
            id="ratePerMinute"
            formControlName="ratePerMinute"
            class="form-control"
            placeholder="Enter rate per minute"
          />
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
    </div>

    <div class="table-container ml-5 pt-0"  *ngIf="consultationPrices.length > 0">
      <!-- <div class="one">
        <h2>Price Lists</h2>
      </div> -->
      <table class="table">
        <thead>
          <tr>
            <th>Sr. No.</th> <!-- New Serial Number column -->
            <th>Rate per Minute</th>
            <th>Actions</th> <!-- Actions column -->
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let price of consultationPrices; let i = index">
            <td>{{ i + 1 }}</td> <!-- Display row number (i + 1 to start from 1) -->
            <td>{{ price.ratePerMinute }}</td>
            <td>
              <button (click)="editPrice(price)" class="btn btn-warning btn-small">
                <i class="fa fa-pencil" aria-hidden="true"></i>
              </button>
              <button (click)="deletePrice(price.id!)" class="btn btn-danger btn-small">
                <i class="fa fa-trash" aria-hidden="true"></i>
              </button>
            </td>
          </tr>
        </tbody>
      </table>
      
    </div>
  </div>
</div>